@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

:root {
  --text-color: #ececec; /* light gray */
  --link-color: #535353; /* dark gray */
  --background-anim-timer: 30s;
  --change-color1: #000753; /* dark blue */
  --change-color2: #044836; /* dark green */
  --change-color3: #3f0250; /* dark magenta */
  --change-color4: #500202; /* dark red */
  --black: #121212;
}

body {
  color: var(--text-color);
  font-size: 1.2em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes colorchange {
  0% {
    background: var(--change-color1);
  }
  33% {
    background: var(--change-color2);
  }
  66% {
    background: var(--change-color3);
  }
  100% {
    background: var(--change-color4);
  }
}

@-webkit-keyframes colorchange {
  0% {
    background: var(--change-color1);
  }
  33% {
    background: var(--change-color2);
  }
  66% {
    background: var(--change-color3);
  }
  100% {
    background: var(--change-color4);
  }
}

@-moz-keyframes colorchange {
  0% {
    background: var(--change-color1);
  }
  33% {
    background: var(--change-color2);
  }
  66% {
    background: var(--change-color3);
  }
  100% {
    background: var(--change-color4);
  }
}

#welcome-section {
  width: 100%;
  animation: colorchange var(--background-anim-timer) infinite;
  animation-direction: alternate;
  -webkit-animation: colorchange var(--background-anim-timer) infinite; /* Chrome, Opera and Safari */
  -webkit-animation-direction: alternate;
  -moz-animation: colorchange var(--background-anim-timer) infinite; /* Firefox */
  -moz-animation-direction: alternate;
  display: flex;
  flex-direction: center;
  align-items: center;
}

h1 {
  max-width: 45%;
  margin: 0 auto;
}

#name {
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  position: relative;
  bottom: -0.1em;
}

.full-height {
  min-height: 100vh;
}

#navbar {
  position: fixed;
  background-color: var(--text-color);
  right: 0;
  top: 0;
  width: 400px;
  height: 35px;
  border-radius: 0 0 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 0.7em;
}

#navbar a:hover {
  border-bottom: solid 2px var(--link-color);
}

#projects {
  background-color: var(--black);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.project-tile img {
  max-width: 400px;
  margin: 40px 40px 0 40px;
  border-radius: 3%;
  border: solid 3px transparent;
}

.project-tile img:hover {
  border: solid 3px var(--text-color);
}

.overlay {
  max-width: 370px;
  opacity: 0;
  background-color: var(--black);
}

.project-tile:hover .overlay {
  opacity: 1;
  margin: 0 auto;
}

.project-text {
  font-size: 0.8em;
  margin-top: -3px;
}

.project-text-small {
  font-size: 0.7em;
}

#about {
  width: 100%;
  height: auto;
  display: flex;
  padding: 100px 0 100px 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  line-height: 1.4em;
  background-color: var(--change-color1);
}

.list-div {
  max-width: 650px;
  font-size: 0.9em;
}

#about-statement {
  margin-bottom: 60px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

li a {
  color: var(--text-color);
  font-size: 1em;
  border-bottom: solid 2px var(--text-color);
}

li a:hover {
  background-color: var(--text-color);
  color: var(--link-color);
}

footer {
  width: 100%;
  height: 500px;
  background-color: var(--change-color3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 475px) {
  body {
    font-size: 1em;
  }

  #navbar {
    width: 100%;
  }

  h1 {
    max-width: 70%;
  }

  #projects {
    padding: 40% 0 40% 0;
    flex-flow: column wrap;
  }

  .project-tile img {
    margin: 50px 10% 0 10%;
    max-width: 80%;
    border: solid 3px transparent;
  }

  .overlay {
    max-width: 80%;
  }

  #about-div {
    margin: 0 auto;
    width: 100%;
    font-size: 0.8em;
  }
}
